@import "tailwindcss";

@layer base {
  body {
    font-variant-numeric: slashed-zero;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  *, *:before, *:after {
    corner-shape: superellipse(1.33);
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }

  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
    appearance: none;
  }

  input::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
  }

  input::-moz-search-clear-button {
    display: none;
  }
}

@theme {
  --font-primary: ui-sans-serif, system-ui, sans-serif;

  --color-black: #000000;

  --shadow-intensity: 1;
  --shadow-2xs: 0px 1px 0px oklch(from var(--color-black) l c h / calc(0.075 * var(--shadow-intensity)));
  --shadow-xs:  0px 1px 1px -0.5px oklch(from var(--color-black) l c h / calc(0.18 * var(--shadow-intensity))), 
                0px 2px 2px -1px oklch(from var(--color-black) l c h / calc(0.04 * var(--shadow-intensity))), 
                0px 4px 4px -2px oklch(from var(--color-black) l c h / calc(0.02 * var(--shadow-intensity))), 
                0px 8px 4px -3px oklch(from var(--color-black) l c h / calc(0.01 * var(--shadow-intensity)));
  --shadow-sm:  0px 1px 2px -0.5px oklch(from var(--color-black) l c h / calc(0.18 * var(--shadow-intensity))), 
                0px 3px 3px -1px oklch(from var(--color-black) l c h / calc(0.04 * var(--shadow-intensity))), 
                0px 6px 5px -2px oklch(from var(--color-black) l c h / calc(0.02 * var(--shadow-intensity))), 
                0px 15px 6px -3px oklch(from var(--color-black) l c h / calc(0.01 * var(--shadow-intensity)));
  --shadow-md:  0px 1px 3px oklch(from var(--color-black) l c h / calc(0.05 * var(--shadow-intensity))), 
                0px 5px 5px -1px oklch(from var(--color-black) l c h / calc(0.05 * var(--shadow-intensity))), 
                0px 11px 6px -2px oklch(from var(--color-black) l c h / calc(0.03 * var(--shadow-intensity))), 
                0px 19px 8px -3px oklch(from var(--color-black) l c h / calc(0.01 * var(--shadow-intensity)));
  --shadow-lg:  0px 2px 5px -1px oklch(from var(--color-black) l c h / calc(0.06 * var(--shadow-intensity))), 
                0px 8px 12px -1px oklch(from var(--color-black) l c h / calc(0.05 * var(--shadow-intensity))), 
                0px 22px 16px -2px oklch(from var(--color-black) l c h / calc(0.04 * var(--shadow-intensity))), 
                0px 32px 18px -2px oklch(from var(--color-black) l c h / calc(0.01 * var(--shadow-intensity)));
  --shadow-xl:  0px 4px 8px -1px oklch(from var(--color-black) l c h / calc(0.06 * var(--shadow-intensity))), 
                0px 15px 15px -1px oklch(from var(--color-black) l c h / calc(0.05 * var(--shadow-intensity))), 
                0px 33px 20px -2px oklch(from var(--color-black) l c h / calc(0.04 * var(--shadow-intensity))), 
                0px 58px 23px -2px oklch(from var(--color-black) l c h / calc(0.01 * var(--shadow-intensity)));
  --shadow-2xl: 0px 13px 29px oklch(from var(--color-black) l c h / calc(0.07 * var(--shadow-intensity))), 
                0px 53px 53px oklch(from var(--color-black) l c h / calc(0.06 * var(--shadow-intensity))), 
                0px 119px 71px oklch(from var(--color-black) l c h / calc(0.03 * var(--shadow-intensity))), 
                0px 211px 85px oklch(from var(--color-black) l c h / calc(0.01 * var(--shadow-intensity)));
  
  --ease-spring: linear(0 0%, 0.003376 1%, 0.01313 2%, 0.0287 3%, 0.049529 4%, 0.075071 5%, 0.104787 6%, 0.138156 7%, 0.17467 8%, 0.213843 9%, 0.255205 10%, 0.298311 11%, 0.342738 12%, 0.388087 13%, 0.433985 14%, 0.480083 15%, 0.526058 16%, 0.571614 17%, 0.616479 18%, 0.660409 19%, 0.703183 20%, 0.744606 21%, 0.784509 22%, 0.822742 23%, 0.859181 24%, 0.893724 25%, 0.926286 26%, 0.956807 27%, 0.98524 28%, 1.01156 29%, 1.035755 30%, 1.057828 31%, 1.0778 32%, 1.095699 33%, 1.111567 34%, 1.125458 35%, 1.137432 36%, 1.147559 37%, 1.155915 38%, 1.162581 39%, 1.167646 40%, 1.1712 41%, 1.173337 42%, 1.174152 43%, 1.173744 44%, 1.17221 45%, 1.169648 46%, 1.166155 47%, 1.161827 48%, 1.156758 49%, 1.151038 50%, 1.144757 51%, 1.138001 52%, 1.130851 53%, 1.123385 54%, 1.115678 55%, 1.1078 56%, 1.099817 57%, 1.09179 58%, 1.083775 59%, 1.075827 60%, 1.067991 61%, 1.060312 62%, 1.052829 63%, 1.045576 64%, 1.038584 65%, 1.031879 66%, 1.025483 67%, 1.019415 68%, 1.01369 69%, 1.008318 70%, 1.00331 71%, 0.998669 72%, 0.994398 73%, 0.990497 74%, 0.986962 75%, 0.98379 76%, 0.980972 77%, 0.9785 78%, 0.976364 79%, 0.974552 80%, 0.97305 81%, 0.971844 82%, 0.97092 83%, 0.970262 84%, 0.969852 85%, 0.969676 86%, 0.969715 87%, 0.969953 88%, 0.970373 89%, 0.970958 90%, 0.97169 91%, 0.972554 92%, 0.973534 93%, 0.974614 94%, 0.975779 95%, 0.977014 96%, 0.978307 97%, 0.979644 98%, 0.981012 99%, 0.9824 100%);
}

@utility mask-clip-padding-only {
  mask: linear-gradient(black, black) content-box, linear-gradient(black, black);
  mask-composite: exclude;
}

@utility corner-round {
  corner-shape: round;
}

@utility corner-squircle {
  corner-shape: squircle;
}

@layer components {
  [data-gooey],
  [data-gooey-menu] > li {
    filter: url("#gooey");
  }

  [data-menu] li,
  [data-gooey-menu] li,
  [data-gooey-connect] li {
    transition-property: transform;
    transition-duration: 550ms;
    transition-timing-function: var(--ease-spring);
  }

  [data-menu] li[data-selected],
  [data-gooey-menu] li[data-selected],
  [data-gooey-connect] li[data-selected] {
    transform: translateY(10px);
  }

  [data-gooey-connect] [data-item-gooey-bg] {
    opacity: 0;
  }

  [data-gooey-connect] li[data-selected] [data-item-gooey-bg] {
    opacity: 1;
  }

  [data-gooey-menu] li[data-selected] [data-item-gooey-bg] {
    opacity: 0;
  }

  [data-menu] [data-item-bg] {
    opacity: 0;
  }
}