@import "tailwindcss";

@layer base {
  body {
    font-variant-numeric: slashed-zero;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  *, *:before, *:after {
    corner-shape: superellipse(1.33);
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }

  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
    appearance: none;
  }

  input::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
  }

  input::-moz-search-clear-button {
    display: none;
  }
}

@theme {
  --font-primary: ui-sans-serif, system-ui, sans-serif;

  --color-black: #000000;

  --shadow-intensity: 1;
  --shadow-2xs: 0px 1px 0px oklch(from var(--color-black) l c h / calc(0.075 * var(--shadow-intensity)));
  --shadow-xs:  0px 1px 1px -0.5px oklch(from var(--color-black) l c h / calc(0.18 * var(--shadow-intensity))), 
                0px 2px 2px -1px oklch(from var(--color-black) l c h / calc(0.04 * var(--shadow-intensity))), 
                0px 4px 4px -2px oklch(from var(--color-black) l c h / calc(0.02 * var(--shadow-intensity))), 
                0px 8px 4px -3px oklch(from var(--color-black) l c h / calc(0.01 * var(--shadow-intensity)));
  --shadow-sm:  0px 1px 2px -0.5px oklch(from var(--color-black) l c h / calc(0.18 * var(--shadow-intensity))), 
                0px 3px 3px -1px oklch(from var(--color-black) l c h / calc(0.04 * var(--shadow-intensity))), 
                0px 6px 5px -2px oklch(from var(--color-black) l c h / calc(0.02 * var(--shadow-intensity))), 
                0px 15px 6px -3px oklch(from var(--color-black) l c h / calc(0.01 * var(--shadow-intensity)));
  --shadow-md:  0px 1px 3px oklch(from var(--color-black) l c h / calc(0.05 * var(--shadow-intensity))), 
                0px 5px 5px -1px oklch(from var(--color-black) l c h / calc(0.05 * var(--shadow-intensity))), 
                0px 11px 6px -2px oklch(from var(--color-black) l c h / calc(0.03 * var(--shadow-intensity))), 
                0px 19px 8px -3px oklch(from var(--color-black) l c h / calc(0.01 * var(--shadow-intensity)));
  --shadow-lg:  0px 2px 5px -1px oklch(from var(--color-black) l c h / calc(0.06 * var(--shadow-intensity))), 
                0px 8px 12px -1px oklch(from var(--color-black) l c h / calc(0.05 * var(--shadow-intensity))), 
                0px 22px 16px -2px oklch(from var(--color-black) l c h / calc(0.04 * var(--shadow-intensity))), 
                0px 32px 18px -2px oklch(from var(--color-black) l c h / calc(0.01 * var(--shadow-intensity)));
  --shadow-xl:  0px 4px 8px -1px oklch(from var(--color-black) l c h / calc(0.06 * var(--shadow-intensity))), 
                0px 15px 15px -1px oklch(from var(--color-black) l c h / calc(0.05 * var(--shadow-intensity))), 
                0px 33px 20px -2px oklch(from var(--color-black) l c h / calc(0.04 * var(--shadow-intensity))), 
                0px 58px 23px -2px oklch(from var(--color-black) l c h / calc(0.01 * var(--shadow-intensity)));
  --shadow-2xl: 0px 13px 29px oklch(from var(--color-black) l c h / calc(0.07 * var(--shadow-intensity))), 
                0px 53px 53px oklch(from var(--color-black) l c h / calc(0.06 * var(--shadow-intensity))), 
                0px 119px 71px oklch(from var(--color-black) l c h / calc(0.03 * var(--shadow-intensity))), 
                0px 211px 85px oklch(from var(--color-black) l c h / calc(0.01 * var(--shadow-intensity)));
  
  --ease-spring: linear(0 0%, 0.002538 1%, 0.009908 2%, 0.02174 3%, 0.037669 4%, 0.057335 5%, 0.080384 6%, 0.106466 7%, 0.135245 8%, 0.166389 9%, 0.199582 10%, 0.234516 11%, 0.270897 12%, 0.308442 13%, 0.346884 14%, 0.385969 15%, 0.425455 16%, 0.465118 17%, 0.504746 18%, 0.544143 19%, 0.583127 20%, 0.621531 21%, 0.659202 22%, 0.696001 23%, 0.731803 24%, 0.766497 25%, 0.799985 26%, 0.832181 27%, 0.863012 28%, 0.892418 29%, 0.920348 30%, 0.946764 31%, 0.971636 32%, 0.994945 33%, 1.016683 34%, 1.036847 35%, 1.055444 36%, 1.072488 37%, 1.088001 38%, 1.102008 39%, 1.114544 40%, 1.125646 41%, 1.135356 42%, 1.143722 43%, 1.150793 44%, 1.156623 45%, 1.161268 46%, 1.164785 47%, 1.167234 48%, 1.168677 49%, 1.169174 50%, 1.168788 51%, 1.167582 52%, 1.165617 53%, 1.162956 54%, 1.15966 55%, 1.155789 56%, 1.151402 57%, 1.146555 58%, 1.141305 59%, 1.135706 60%, 1.12981 61%, 1.123667 62%, 1.117324 63%, 1.110828 64%, 1.10422 65%, 1.097542 66%, 1.090833 67%, 1.084128 68%, 1.07746 69%, 1.070861 70%, 1.064358 71%, 1.057978 72%, 1.051745 73%, 1.045679 74%, 1.039799 75%, 1.034123 76%, 1.028665 77%, 1.023437 78%, 1.018449 79%, 1.013711 80%, 1.009229 81%, 1.005008 82%, 1.001051 83%, 0.99736 84%, 0.993935 85%, 0.990775 86%, 0.987878 87%, 0.985241 88%, 0.982858 89%, 0.980725 90%, 0.978834 91%, 0.97718 92%, 0.975753 93%, 0.974546 94%, 0.973549 95%, 0.972753 96%, 0.972149 97%, 0.971725 98%, 0.971473 99%, 0.971381 100%);
}

@utility mask-clip-padding-only {
  mask: linear-gradient(black, black) content-box, linear-gradient(black, black);
  mask-composite: exclude;
}

@utility corner-round {
  corner-shape: round;
}

@utility corner-squircle {
  corner-shape: squircle;
}

@layer components {
  [data-gooey],
  [data-gooey-menu] > li {
    filter: url("#gooey");
  }

  [data-menu] li,
  [data-gooey-menu] li,
  [data-gooey-connect] li {
    transition-property: transform;
    transition-duration: 550ms;
    transition-timing-function: var(--ease-spring);
  }

  [data-menu] li[data-selected],
  [data-gooey-menu] li[data-selected],
  [data-gooey-connect] li[data-selected] {
    transform: translateY(10px);
  }

  [data-gooey-connect] [data-item-gooey-bg] {
    opacity: 0;
  }

  [data-gooey-connect] li[data-selected] [data-item-gooey-bg] {
    opacity: 1;
  }

  [data-gooey-menu] li[data-selected] [data-item-gooey-bg] {
    opacity: 0;
  }

  [data-menu] [data-item-bg] {
    opacity: 0;
  }
}