@import "tailwindcss";

@layer base {
  body {
    font-variant-numeric: slashed-zero;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  *, *:before, *:after {
    corner-shape: superellipse(1.33);
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }

  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
    appearance: none;
  }

  input::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
  }

  input::-moz-search-clear-button {
    display: none;
  }
}

@theme {
  --font-primary: ui-sans-serif, system-ui, sans-serif;

  --color-black: #000000;

  --shadow-intensity: 1;
  --shadow-2xs: 0px 1px 0px oklch(from var(--color-black) l c h / calc(0.075 * var(--shadow-intensity)));
  --shadow-xs:  0px 1px 1px -0.5px oklch(from var(--color-black) l c h / calc(0.18 * var(--shadow-intensity))), 
                0px 2px 2px -1px oklch(from var(--color-black) l c h / calc(0.04 * var(--shadow-intensity))), 
                0px 4px 4px -2px oklch(from var(--color-black) l c h / calc(0.02 * var(--shadow-intensity))), 
                0px 8px 4px -3px oklch(from var(--color-black) l c h / calc(0.01 * var(--shadow-intensity)));
  --shadow-sm:  0px 1px 2px -0.5px oklch(from var(--color-black) l c h / calc(0.18 * var(--shadow-intensity))), 
                0px 3px 3px -1px oklch(from var(--color-black) l c h / calc(0.04 * var(--shadow-intensity))), 
                0px 6px 5px -2px oklch(from var(--color-black) l c h / calc(0.02 * var(--shadow-intensity))), 
                0px 15px 6px -3px oklch(from var(--color-black) l c h / calc(0.01 * var(--shadow-intensity)));
  --shadow-md:  0px 1px 3px oklch(from var(--color-black) l c h / calc(0.05 * var(--shadow-intensity))), 
                0px 5px 5px -1px oklch(from var(--color-black) l c h / calc(0.05 * var(--shadow-intensity))), 
                0px 11px 6px -2px oklch(from var(--color-black) l c h / calc(0.03 * var(--shadow-intensity))), 
                0px 19px 8px -3px oklch(from var(--color-black) l c h / calc(0.01 * var(--shadow-intensity)));
  --shadow-lg:  0px 2px 5px -1px oklch(from var(--color-black) l c h / calc(0.06 * var(--shadow-intensity))), 
                0px 8px 12px -1px oklch(from var(--color-black) l c h / calc(0.05 * var(--shadow-intensity))), 
                0px 22px 16px -2px oklch(from var(--color-black) l c h / calc(0.04 * var(--shadow-intensity))), 
                0px 32px 18px -2px oklch(from var(--color-black) l c h / calc(0.01 * var(--shadow-intensity)));
  --shadow-xl:  0px 4px 8px -1px oklch(from var(--color-black) l c h / calc(0.06 * var(--shadow-intensity))), 
                0px 15px 15px -1px oklch(from var(--color-black) l c h / calc(0.05 * var(--shadow-intensity))), 
                0px 33px 20px -2px oklch(from var(--color-black) l c h / calc(0.04 * var(--shadow-intensity))), 
                0px 58px 23px -2px oklch(from var(--color-black) l c h / calc(0.01 * var(--shadow-intensity)));
  --shadow-2xl: 0px 13px 29px oklch(from var(--color-black) l c h / calc(0.07 * var(--shadow-intensity))), 
                0px 53px 53px oklch(from var(--color-black) l c h / calc(0.06 * var(--shadow-intensity))), 
                0px 119px 71px oklch(from var(--color-black) l c h / calc(0.03 * var(--shadow-intensity))), 
                0px 211px 85px oklch(from var(--color-black) l c h / calc(0.01 * var(--shadow-intensity)));
  
  --ease-spring: linear(0 0%, 0.004089 1%, 0.015789 2%, 0.034382 3%, 0.059153 4%, 0.089396 5%, 0.124421 6%, 0.163557 7%, 0.206152 8%, 0.251584 9%, 0.299257 10%, 0.348607 11%, 0.399103 12%, 0.450248 13%, 0.501582 14%, 0.552679 15%, 0.603153 16%, 0.652651 17%, 0.70086 18%, 0.747502 19%, 0.792334 20%, 0.835147 21%, 0.875767 22%, 0.914049 23%, 0.949881 24%, 0.98318 25%, 1.013887 26%, 1.041973 27%, 1.067427 28%, 1.090265 29%, 1.110519 30%, 1.128241 31%, 1.143497 32%, 1.15637 33%, 1.166953 34%, 1.175349 35%, 1.181673 36%, 1.186044 37%, 1.188588 38%, 1.189436 39%, 1.188721 40%, 1.186577 41%, 1.183139 42%, 1.178542 43%, 1.172917 44%, 1.166395 45%, 1.159101 46%, 1.151157 47%, 1.142682 48%, 1.133785 49%, 1.124574 50%, 1.115147 51%, 1.105599 52%, 1.096015 53%, 1.086476 54%, 1.077053 55%, 1.067814 56%, 1.058817 57%, 1.050114 58%, 1.041751 59%, 1.033766 60%, 1.026194 61%, 1.01906 62%, 1.012386 63%, 1.006188 64%, 1.000476 65%, 0.995257 66%, 0.990531 67%, 0.986296 68%, 0.982546 69%, 0.979272 70%, 0.976461 71%, 0.974097 72%, 0.972163 73%, 0.970639 74%, 0.969504 75%, 0.968736 76%, 0.968311 77%, 0.968204 78%, 0.968391 79%, 0.968846 80%, 0.969543 81%, 0.970459 82%, 0.971567 83%, 0.972844 84%, 0.974265 85%, 0.975809 86%, 0.977452 87%, 0.979175 88%, 0.980956 89%, 0.982778 90%, 0.984623 91%, 0.986474 92%, 0.988317 93%, 0.990138 94%, 0.991925 95%, 0.993667 96%, 0.995353 97%, 0.996975 98%, 0.998526 99%, 1 100%);
}

@utility mask-clip-padding-only {
  mask: linear-gradient(black, black) content-box, linear-gradient(black, black);
  mask-composite: exclude;
}

@utility corner-round {
  corner-shape: round;
}

@utility corner-squircle {
  corner-shape: squircle;
}

@layer components {
  [data-gooey],
  [data-gooey-menu] > li {
    filter: url("#gooey");
  }

  [data-menu] li,
  [data-gooey-menu] li,
  [data-gooey-connect] li {
    transition-property: transform;
    transition-duration: 550ms;
    transition-timing-function: var(--ease-spring);
    will-change: transform;
  }

  [data-menu] li[data-selected],
  [data-gooey-menu] li[data-selected],
  [data-gooey-connect] li[data-selected] {
    transform: translateY(10px);
  }

  [data-gooey-connect] [data-item-gooey-bg] {
    opacity: 0;
  }

  [data-gooey-connect] li[data-selected] [data-item-gooey-bg] {
    opacity: 1;
  }

  [data-gooey-menu] li[data-selected] [data-item-gooey-bg] {
    opacity: 0;
  }

  [data-menu] [data-item-bg] {
    opacity: 0;
  }

  [data-name="frame"] figure img {
    transform: translateX(calc(-270px + var(--bg-index, 0) * -540px));
    transition-property: transform;
    transition-duration: 550ms;
    transition-timing-function: var(--ease-in-out);
    will-change: transform;
  }
}